# Ignore everything by default
**

# Allow only the files needed for the Dockerfile
!pyproject.toml
!.python-version
!package.json
!rust-toolchain.toml

# Ignore common large directories
node_modules
target
.venv
.cache
.bin
.path

# Ignore .env file
.env
.env.*
!.env.example
