# Ignore everything by default
**

# Allow only the files needed for the Dockerfile
!.mise-version
!mise.toml
!docker-entrypoint.sh

# Ignore common large directories
node_modules
target
.venv
.cache

# Ignore .env file
.env
.env.*
!.env.example
