# common
.env
.env.*
!.env.example
.DS_Store
lcov.info
package.tar.gz
profile.json.gz
report-nextest.junit.xml
report-vitest.junit.xml
trivy-results.sarif

.venv/
dist/
node_modules/
coverage-vitest/
target/
__pycache__/

# .cache
.cache/**
!.cache/
!.cache/.gitkeep
!.cache/docker/
!.cache/docker/.gitkeep
!.cache/docker/cargo/
!.cache/docker/cargo/.gitkeep
!.cache/docker/mise/
!.cache/docker/mise/.gitkeep
!.cache/docker/pnpm-store/
!.cache/docker/pnpm-store/.gitkeep
!.cache/docker/rustup/
!.cache/docker/rustup/.gitkeep
!.cache/docker/sccache/
!.cache/docker/sccache/.gitkeep
!.cache/docker/uv/
!.cache/docker/uv/.gitkeep
!.cache/native/
!.cache/native/.gitkeep
!.cache/native/cargo/
!.cache/native/cargo/.gitkeep
!.cache/native/pnpm-store/
!.cache/native/pnpm-store/.gitkeep
!.cache/native/sccache/
!.cache/native/sccache/.gitkeep
!.cache/native/uv/
!.cache/native/uv/.gitkeep
!.cache/ruff/
!.cache/ruff/.gitkeep
!.cache/trivy/
!.cache/trivy/.gitkeep

# packages/node
packages/node/report-playwright.junit.xml
packages/node/build/
packages/node/coverage-playwright/
packages/node/export_dist/
packages/node/test-results/
