# common
.DS_Store
lcov.info
package.tar.gz
profile.json.gz
report-rust.junit.xml
.bin/
.path/
dist/
node_modules/
target/

# packages/impl
packages/impl/report-electron.junit.xml
packages/impl/report-unittest.junit.xml
packages/impl/build/
packages/impl/coverage-electron/
packages/impl/coverage-unittest/
packages/impl/export_dist/
packages/impl/test-results/
