services:
  dev:
    build:
      context: .
      args:
        USER_UID: ${USER_UID:-1001}
        USER_GID: ${USER_GID:-1001}
      cache_from:
        - ghcr.io/vadimpiven/node_reqwest:buildcache
    image: ${COMPOSE_IMAGE:-node_reqwest-dev}
    user: runner
    working_dir: /workspace
    volumes:
      - .:/workspace:cached
      - ./.cache/uv:/home/runner/.cache/uv
      - ./.cache/pnpm-store:/home/runner/.cache/pnpm-store
      - ./.cache/cargo/registry:/home/runner/.cargo/registry
      - ./.cache/cargo/git:/home/runner/.cargo/git
      - ./.cache/sccache:/home/runner/.cache/sccache
    env_file:
      - .env
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined
    command: sleep infinity
