services:
  dev:
    build:
      context: .
      args:
        USER_UID: ${USER_UID:-1001}
        USER_GID: ${USER_GID:-1001}
      cache_from:
        - type=registry,ref=ghcr.io/vadimpiven/node_reqwest:buildcache
    image: ${COMPOSE_IMAGE:-node_reqwest-dev}
    pull_policy: build
    user: runner
    working_dir: /workspace
    volumes:
      - .:/workspace:cached
    env_file:
      - .env
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined
    command: sleep infinity
