[build]
rustflags = ["-C", "force-frame-pointers=yes"]
rustdocflags = ["-D", "warnings"]

[target.'cfg(target_env = "msvc")']
rustflags = ["-C", "target-feature=+crt-static"]

[target.'cfg(target_arch = "x86_64")']
rustflags = ["-C", "target-feature=+sse3,+ssse3,+sse4.1,+sse4.2,+popcnt,+cmpxchg16b"]

[env]
MACOSX_DEPLOYMENT_TARGET = { value = "13.0" }
