[package]
name = "core"
edition.workspace = true

[lints]
workspace = true

[dependencies]
async-trait = { workspace = true }
bytes = { workspace = true }
futures = { workspace = true }
reqwest = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }
tokio-stream = { workspace = true }
tokio-util = { workspace = true }

[dev-dependencies]
pretty_assertions.workspace = true
tempfile.workspace = true
tokio-test = { workspace = true }
wiremock = { workspace = true }
