name: Build and test
on:
  pull_request:
    types: [ opened, reopened, synchronize ]
    branches:
      - 'main'
  push:
    branches:
      - 'main'
  schedule:
    - cron: '32 4 * * *'
  workflow_dispatch: { }

permissions: {}

jobs:
  build-and-test:
    name: Build and test
    timeout-minutes: 45
    permissions:
      contents: read
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-24.04
          - os: ubuntu-24.04-arm
          - os: macos-15-intel
          - os: macos-15
          - os: windows-2025
          # - os: windows-11-arm <https://github.com/taiki-e/cargo-llvm-cov/issues/436>
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout target branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.ref }}
          fetch-depth: 1
          persist-credentials: false
      
      - name: Setup development environment
        uses: ./.github/actions/setup-agent
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Build and test
        uses: ./.github/actions/platform-shell
        with:
          run: pnpm run ci-test
      
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          use_oidc: true
          report_type: coverage
          files: >-
            packages/impl/coverage-electron/lcov.info,
            packages/impl/coverage-unittest/lcov.info,
            packages/impl/lcov.info,
            packages/meta/lcov.info,
      
      - name: Upload test results to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          use_oidc: true
          report_type: test_results
          files: >-
            packages/impl/report-electron.junit.xml,
            packages/impl/report-rust.junit.xml,
            packages/impl/report-unittest.junit.xml,
            packages/meta/report-rust.junit.xml,

  zizmor:
    name: Check CI scripts
    timeout-minutes: 15
    permissions:
      security-events: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.ref }}
          fetch-depth: 1
          persist-credentials: false
      
      - name: Run zizmor
        uses: zizmorcore/zizmor-action@e639db99335bc9038abc0e066dfcd72e23d26fb4 # v0.3.0
