name: Build and test
on:
  pull_request:
    types: [ opened, reopened, synchronize ]
    branches:
      - 'main'
  push:
    branches:
      - 'main'
  schedule:
    - cron: '32 4 * * *'
  workflow_dispatch: { }

permissions: {}

jobs:
  init:
    name: Init
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.init-workflow.outputs.regular-matrix }}
      env: ${{ steps.init-workflow.outputs.env }}
      pnpm-version: ${{ steps.init-workflow.outputs.pnpm-version }}
      node-version: ${{ steps.init-workflow.outputs.node-version }}
      rust-components: ${{ steps.init-workflow.outputs.rust-components }}
      test-coverage: ${{ steps.init-workflow.outputs.test-coverage }}
      test-reports: ${{ steps.init-workflow.outputs.test-reports }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.ref }}
          fetch-depth: 1
          persist-credentials: false
      
      - name: Init workflow constants
        id: init-workflow
        uses: ./.github/actions/init-workflow
  
  build-and-test:
    name: Build and test
    timeout-minutes: 45
    permissions:
      contents: read
      id-token: write
    needs:
      - init
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.init.outputs.matrix) }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.ref }}
          fetch-depth: 1
          persist-credentials: false
      
      - name: Setup development environment
        uses: ./.github/actions/setup-agent
        with:
          env: ${{ needs.init.outputs.env }}
          pnpm-version: ${{ needs.init.outputs.pnpm-version }}
          node-version: ${{ needs.init.outputs.node-version }}
          rust-components: ${{ needs.init.outputs.rust-components }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Build and test
        uses: ./.github/actions/platform-shell
        with:
          run: pnpm run ci-test
      
      - name: Upload reports
        uses: ./.github/actions/upload-reports
        with:
          test-coverage: ${{ needs.init.outputs.test-coverage }}
          test-reports: ${{ needs.init.outputs.test-reports }}

  zizmor:
    name: Check CI scripts
    timeout-minutes: 15
    permissions:
      security-events: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.ref }}
          fetch-depth: 1
          persist-credentials: false
      
      - name: Run zizmor
        uses: zizmorcore/zizmor-action@e639db99335bc9038abc0e066dfcd72e23d26fb4 # v0.3.0
