name: Build and test
on:
  pull_request:
    types: [ opened, reopened, synchronize ]
    branches:
      - 'main'
  push:
    branches:
      - 'main'
  schedule:
    - cron: '32 4 * * *'
  workflow_dispatch: { }

jobs:
  build-and-test:
    name: Build and test
    timeout-minutes: 45
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-24.04
          - os: ubuntu-24.04-arm
          - os: macos-15-intel
          - os: macos-15
          - os: windows-2025
          # - os: windows-11-arm <https://github.com/taiki-e/cargo-llvm-cov/issues/436>
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout target branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.ref }}
          fetch-depth: 1
      
      - name: Setup development environment
        uses: ./.github/actions/setup-agent
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Build and test
        uses: ./.github/actions/platform-shell
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          run: pnpm run test
      
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          report_type: coverage
          files: >-
            packages/impl/coverage-electron/lcov.info,
            packages/impl/coverage-unittest/lcov.info,
            packages/impl/lcov.info,
            packages/meta/lcov.info,
      
      - name: Upload coverage reports to Codacy
        uses: codacy/codacy-coverage-reporter-action@89d6c85cfafaec52c72b6c5e8b2878d33104c699 # v1.3.0
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: >-
            packages/impl/coverage-electron/lcov.info,
            packages/impl/coverage-unittest/lcov.info,
            packages/impl/lcov.info,
            packages/meta/lcov.info,
      
      - name: Upload test results to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          report_type: test_results
          files: >-
            packages/impl/report-electron.junit.xml,
            packages/impl/report-rust.junit.xml,
            packages/impl/report-unittest.junit.xml,
            packages/meta/report-rust.junit.xml,
  
  sonar:
    name: SonarQube check
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0
          persist-credentials: false
      
      - name: SonarQube scan
        uses: SonarSource/sonarqube-scan-action@a31c9398be7ace6bbfaf30c0bd5d415f843d45e9 # v7.0.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  
  zizmor:
    name: Check CI scripts
    timeout-minutes: 15
    permissions:
      security-events: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.ref }}
          fetch-depth: 1
      
      - name: Run zizmor
        uses: zizmorcore/zizmor-action@e639db99335bc9038abc0e066dfcd72e23d26fb4 # v0.3.0

  repro-issue:
    name: Issue reproduction
    permissions: {}
    runs-on: windows-11-arm
    steps:      
      - name: Setup MSVC developer command prompt
        if: runner.os == 'Windows'
        uses: ilammy/msvc-dev-cmd@0b201ec74fa43914dc39ae48a89fd1d8cb592756 # v1.13.0
      
      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          toolchain: 'nightly-2025-12-17'
          components: 'llvm-tools-preview'

      - name: Create reproduction project
        shell: pwsh
        run: |
          cargo new reproduction

      - name: Generate coverage data
        shell: pwsh
        working-directory: reproduction
        env:
          RUSTFLAGS: '-C instrument-coverage'
          LLVM_PROFILE_FILE: 'default.profraw'
        run: |
          cargo build
          ./target/debug/reproduction.exe

      - name: Process coverage data
        shell: pwsh
        working-directory: reproduction
        run: |
          $LLVM_BIN = "$(Split-Path (rustc --print target-libdir) -Parent)\bin"
          & "$LLVM_BIN\llvm-profdata.exe" merge -sparse default.profraw -o default.profdata
