name: Build and publish
on:
  push:
    tags:
      - 'v*'
  workflow_dispatch: { }

permissions: {}

jobs:
  init:
    name: Init
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.init-workflow.outputs.release-matrix }}
      env: ${{ steps.init-workflow.outputs.env }}
      pnpm-version: ${{ steps.init-workflow.outputs.pnpm-version }}
      node-version: ${{ steps.init-workflow.outputs.node-version }}
      rust-components: ${{ steps.init-workflow.outputs.rust-components }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.ref }}
          fetch-depth: 1
          persist-credentials: false
      
      - name: Init workflow constants
        id: init-workflow
        uses: ./.github/actions/init-workflow
  
  build-addon:
    name: Build addon
    timeout-minutes: 45
    permissions:
      contents: write
      id-token: write
      attestations: write
    needs:
      - init
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.init.outputs.matrix) }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.ref }}
          fetch-depth: 1
          persist-credentials: false
      
      - name: Setup development environment
        uses: ./.github/actions/setup-agent
        with:
          env: ${{ needs.init.outputs.env }}
          pnpm-version: ${{ needs.init.outputs.pnpm-version }}
          node-version: ${{ needs.init.outputs.node-version }}
          rust-components: ${{ needs.init.outputs.rust-components }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Build node addon
        uses: ./.github/actions/platform-shell
        with:
          run: |
            pnpm -F "{packages/impl}" run bump-version
            pnpm -F "{packages/impl}" run ci-build
      
      - name: Sign and notarize
        uses: ./.github/actions/sign-notarize
        with:
          binary-path: ${{ github.workspace }}/packages/impl/dist/napi-v8/node_reqwest.node
      
      - name: Pack node addon
        uses: ./.github/actions/platform-shell
        with:
          run: pnpm -F "{packages/impl}" run pack-addon
      
      - name: Attest build provenance
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3.0.0
        with:
          subject-path: packages/impl/build/stage/**/*.tar.gz
      
      - name: Upload node addon
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          files: packages/impl/build/stage/**/*.tar.gz
          draft: true
  
  build-package:
    name: Build package
    timeout-minutes: 30
    permissions:
      contents: write
      id-token: write
      attestations: write
    needs:
      - init
      - build-addon
    if: needs.build-addon.result == 'success'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.ref }}
          fetch-depth: 1
          persist-credentials: false
      
      - name: Setup development environment
        uses: ./.github/actions/setup-agent
        with:
          env: ${{ needs.init.outputs.env }}
          pnpm-version: ${{ needs.init.outputs.pnpm-version }}
          node-version: ${{ needs.init.outputs.node-version }}
          rust-components: ${{ needs.init.outputs.rust-components }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Build export wrapper
        uses: ./.github/actions/platform-shell
        with:
          run: |
            pnpm -F "{packages/impl}" run bump-version
            pnpm -F "{packages/impl}" run build:ts
      
      - name: Attest build provenance
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3.0.0
        with:
          subject-path: packages/impl/package.tar.gz
      
      - name: Finalize release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          files: packages/impl/package.tar.gz
          draft: false
  
  npm-publish:
    name: Publish package
    timeout-minutes: 15
    permissions:
      contents: read
      id-token: write
    needs:
      - build-package
    if: needs.build-package.result == 'success'
    runs-on: ubuntu-latest
    steps:
      - name: Install latest Node.js with correct .npmrc
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 'latest'
          check-latest: true
          registry-url: 'https://registry.npmjs.org'
          package-manager-cache: false
      
      - name: Update npm CLI
        shell: bash
        run: npm install -g npm@latest
      
      - name: Download package artifact
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release download $GITHUB_REF_NAME --pattern package.tar.gz
      
      - name: Publish to npmjs.org
        shell: bash
        run: npm publish package.tar.gz --access public --provenance
  
  verify-installation:
    name: Verify release installation
    timeout-minutes: 5
    needs:
      - init
      - npm-publish
    if: needs.npm-publish.result == 'success'
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.init.outputs.matrix) }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ needs.init.outputs.node-version }}
          package-manager-cache: false
      
      - name: Verify release installation
        shell: bash
        run: |
          cd $(mktemp -d)
          npm init -y
          npm install node-reqwest@${GITHUB_REF_NAME#v}
